In [2]:
import numpy as np
import pandas as pd
import yfinance as yf
import hvplot.pandas
import plotly.graph_objs as go
from newsapi.newsapi_client import NewsApiClient
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from pathlib import Path
import os
from datetime import datetime, timedelta
import pandas as pd
import mplfinance as mpf

In [3]:
#pull data from yahoo finance
data =yf.download(tickers='TSLA', period='max', interval = '1d', start='2007-01-01')

[*********************100%***********************]  1 of 1 completed

In [4]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-06-29,3.800000,5.000000,3.508000,4.778000,4.778000,93831500
2010-06-30,5.158000,6.084000,4.660000,4.766000,4.766000,85935500
2010-07-01,5.000000,5.184000,4.054000,4.392000,4.392000,41094000
2010-07-02,4.600000,4.620000,3.742000,3.840000,3.840000,25699000
2010-07-06,4.000000,4.000000,3.166000,3.222000,3.222000,34334500
...,...,...,...,...,...,...
2021-07-21,659.609985,664.859985,650.289978,655.289978,655.289978,13953300
2021-07-22,656.440002,662.169983,644.599976,649.260010,649.260010,15105700
2021-07-23,646.359985,648.799988,637.299988,643.380005,643.380005,14581300
2021-07-26,650.969971,668.200012,647.109985,657.619995,657.619995,25044100
2021-07-27,663.400024,666.469971,627.239990,644.780029,644.780029,32475284

In [ ]:
# build dataframe

TSLA_df = pd.DataFrame(data)
TSLA_df.head(10)

# change df to csv
TSLA_csv = TSLA_df.to_csv('/users/manu/desktop/project_2/walmart_csv', index=True)

#Show the df
TSLA_df.head(10)

In [ ]:
#Show Close Only
TSLA_close = TSLA_df.drop(columns =['Open','High','Low','Adj Close','Volume'])
TSLA_close.head(10)

In [ ]:
TSLA_returns = TSLA_close.pct_change().dropna()
TSLA_returns

In [ ]:
# Access to the News Api
newsapi = NewsApiClient(api_key='ce3e78ab07ed4649a677e4da44c06a82')

In [ ]:
# Set current date and the date from one month ago using the ISO format
current_date = pd.Timestamp(datetime.now(), tz="America/New_York").isoformat()
past_date = pd.Timestamp(datetime.now()- timedelta(30), tz="America/New_York").isoformat()

In [ ]:
# Define a function to build news df
def create_df(news, language):
    articles = []
    for article in news:
        try:
            title = article["title"]
            description = article["description"]
            text = article["content"]
            date = article["publishedAt"][:10]

            articles.append({
                "title": title,
                "description": description,
                "text": text,
                "date": date,
                "language": language
            })
        except AttributeError:
            pass

    return pd.DataFrame(articles)

In [ ]:
# Pull all the Walmart Stock headlines data from 2008 
TSLA_news_en = newsapi.get_everything(
    q=" TSLA AND Tesla AND 2008",
    language="en"
)

In [ ]:
# Show the total number of news
print(TSLA_news_en["totalResults"])

In [ ]:
# Create a DataFrame with the Walmart News
TSLA_en_df = create_df(TSLA_news_en["articles"], "en")
TSLA_en_df

In [ ]:
# Create CSV from News df
TSLA_en_df.to_csv('/users/manu/desktop/project_2/TSLA_csv', index=False, encoding='utf-8-sig')

In [ ]:
# define  sentiment analysis  
TSLA_sentiment = []
analyzer = SentimentIntensityAnalyzer()

for article in TSLA_news_en['articles']:
    try:
        date = article["publishedAt"][:10]
        text = article["content"][0:198]
        sentiment = analyzer.polarity_scores(text)
        pos = sentiment['pos']
        neu = sentiment["neu"]
        neg = sentiment["neg"]
        compound = sentiment["compound"] 
        
        TSLA_sentiment.append({
            "text": text,
            "date": date,
            "positive": pos,
            "neutral": neu,
            "negative": neg,
            "compound": compound 
        })
        
    except AttributeError:
        pass

In [ ]:
# Build a SIA DF
TSLA_S_df = pd.DataFrame(TSLA_sentiment) 
cols = ['date', 'positive', 'neutral', 'negative', 'compound', 'text']
TSLA_S_df = TSLA_S_df[cols] 
TSLA_S_df.describe()

In [ ]:
#Display a candle stick chart
fig = go.Figure(data=[go.Candlestick(x=TSLA_df.index,
                open=TSLA_df['Open'],
                high=TSLA_df['High'],
                low=TSLA_df['Low'],
                close=TSLA_df['Close'])])

fig.show()